# Byte-compiled / optimized / DLL files
__pycache__/
.ipynb_checkpoints/SimpleDisplay-checkpoint.ipynb
.ipynb_checkpoints/CheckNiiProcessed_OkV1_CalculateRatiosandSizes-checkpoint.ipynb
.ipynb_checkpoints/CheckNiiRaw-checkpoint.ipynb
Nii2Nii_Log_V1.log
*.log
.ipynb_checkpoints/CheckVolumesOfTumorAlgebra-checkpoint.ipynb
.ipynb_checkpoints/CheckNiiProcessed_Ok(Step1)_CheckSizesNMissings-checkpoint.ipynb
